.container {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  padding-top: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
}

.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  position: relative;
}

.banner {
  width: 100%;
  height: 200px;
  position: relative;
  margin-bottom: -30px;
}

.bannerImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bannerPlaceholder {
  width: 100%;
  height: 100%;
  background-color: rgb(229, 232, 235);
}

.editBanner {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
  }
}

.editIcon {
  width: 24px;
  height: 24px;
  color: rgb(138, 147, 155);
}

.settings {
  position: absolute;
  top: 216px;
  right: 16px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgba(36, 121, 250, .1);
}

.settingsIcon {
  width: 20px;
  height: 20px;
}

.avatarWrapper {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: 6px solid #FFF;
  z-index: 1;
  overflow: hidden;
  position: relative;
}

.avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
}

.username {
  margin-top: 16px;
  font-size: 24px;
  font-weight: 600;
  color: #3D3D3D;
}

.addressWrapper {
  margin-top: 8px;
  display: flex;
  align-items: center;

  img {
    margin-left: 6px;
    cursor: pointer;
  }
}

.address {
  font-size: 18px;
  font-weight: 500;
  color: rgba(0, 0, 0, .6);
}

.tooltip {
  font-size: 16px;
}

.bio {
  width: 90%;
  max-width: 700px;
  text-align: center;
  margin-top: 8px;
  font-size: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, .6);
}

.content {
  width: 100%;
  height: calc(100vh - 100px);
  flex: 0 0 calc(100vh - 100px);
  box-sizing: border-box;
  padding: 0 40px 40px;
  display: flex;
  flex-direction: column;
}

.contentHeader {
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  align-items: center;
}

.contentBody {
  flex: 1;
  overflow-y: auto;
}

.tab {
  margin-right: 40px;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #3D3D3D;
  opacity: 0.6;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  user-select: none;

  &:last-child {
    margin-right: 0;
  }

  &.selected {
    opacity: 1;
    border-bottom-color: #1652C3;
  }
}

.activityHeader,
.activity {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #3D3D3D;
}

.activityHeader {
  padding: 9px 14px;
  background-color: #F6F7F9;
}

.activity {
  padding: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.event {
  flex: 2 0 0;
}

.name {
  flex: 3 0 0;
}

.price {
  flex: 2 0 0;
}

.quantity {
  flex: 2 0 0;
}

.owner {
  flex: 3 0 0;
}
