.container {
  width: 100%;
  box-sizing: border-box;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(220px, 1fr) );
  grid-gap: 32px;
  box-sizing: border-box;
  padding-bottom: 32px;
  padding: 4px;
}
