.container {
  width: 100%;
  height: 100vh;
  padding-top: 130px;
  padding-bottom: 48px;
  box-sizing: border-box;
  overflow-y: auto;
  position: relative;
}

.inner {
  width: 100%;
  max-width: 600px;
  margin-left: 100px;
  padding: 40px 0;
  box-sizing: border-box;
}

.title {
  font-size: 28px;
  font-weight: 900;
  color: #3D3D3D;
}

.inputGroup {
  margin-top: 40px;
}

.inputTitle {
  font-weight: 700;
  font-size: 22px;
  color: #3D3D3D;
}

.inputTitle1 {
  font-weight: 500;
  font-size: 18px;
  color: #3D3D3D;
}

.inputSubTitle {
  margin-top: 7px;
  font-weight: 600;
  font-size: 16px;
  line-height: 25.6px;
  color: rgba(0, 0, 0, .6);
}

.inputWrapper {
  margin-top: 16px;
}

.lengthIndicator {
  margin-top: 6px;
  margin-right: 6px;
  text-align: right;
  color: rgba(0, 0, 0, .6);

  & + .error {
    margin-top: -20px;
  }
}

.error {
  margin: 6px 0 0 6px;
  color: rgba(235, 87, 87);
}

.hasError {
  border-color: rgb(235, 87, 87) !important;
}

.logoUploadBox {
  width: 160px;
  height: 160px;
  box-sizing: border-box;
  border: 4px dashed rgba(0, 0, 0, .4);
  border-radius: 8px;
  position: relative;

  &:hover {
    border-color: #888;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
  }
}

.uploadOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: opacity ease 0.1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uploadIcon {
  width: 40px !important;
  height: 40px !important;
  color: rgba(0, 0, 0, .6);
}

.input {
  width: 100%;
  height: 50px;
  padding: 8px 16px;
  box-sizing: border-box;
  font-size: 16px;
  color: #333;
  border-radius: 10px;
  border: none;
  outline: none;
  border: 2px solid rgba(0, 0, 0, .2);

  &:focus {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  }
}

.longInput {
  height: 120px;
  resize: vertical;
}

.categoryList {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.categoryButton {
  flex: 0 0 200px;
  height: 56px;
  padding: 8px 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border: 1.5px solid rgba(0, 0, 0, .4);
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;

  &:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  }
}

.menu {
  min-width: 160px;
  max-height: 350px;
  overflow-y: auto;
}

.category {
  height: 48px;
}

.categoryIcon {
  width: 20px;
  height: 20px;
}

.categoryLabel {
  margin-left: 12px;
}

.selectedCategory {
  flex: 0 0 200px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
  padding: 8px 12px;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
  border: 1.5px solid rgba(0, 0, 0, .4);
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;

  &:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  }
}

.closeIcon {
  width: 20px;
  height: 20px;
  margin-left: 12px;
}

.linksWrapper {
  width: 100%;
  overflow: hidden;
}

.linkItem {
  display: flex;
  flex-direction: row;
  height: 56px;
  border: 2px solid rgba(0, 0, 0, .1);
  box-sizing: border-box;
  margin-top: 16px;
  border-radius: 5px;
  overflow: hidden;

  &:first-child {
    margin-top: 0;
  }
}

.linkIconWrapper {
  flex: 0 0 76px;
  border-right: 1.5px solid rgba(0, 0, 0, .1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkIcon {
  width: 28px;
  height: auto;
  color: #999;
}

.inputPrefix {
  padding-left: 20px;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #999;
}

.linkInput {
  flex-grow: 1;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  padding-right: 12px;
  font-size: 16px;
  color: #333;
  background-color: transparent;
  flex-basis: 0px;

  &::placeholder {
    color: #888;
  }
}

.buttonsWrapper {
  margin-top: 40px;
  display: flex;
}

.createButton {
  width: 200px;
  height: 56px;
  border-radius: 8px;
  background-color: #1969FF !important;
  color: #FFF;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  }
}

.disabled {
  cursor: not-allowed;
  box-shadow: none !important;
  opacity: 0.7;
}

@media only screen and (max-width: 768px) {
  .inner {
    margin: 0 auto;
    padding: 0 40px;
  }

  .categoryList {
    flex-direction: column;
    align-items: flex-start;
  }

  .categoryButton,
  .selectedCategory {
    flex: 0 0 56px;
  }

  .selectedCategory {
    margin-left: 0;
    margin-top: 16px;
  }

  .linkIconWrapper {
    flex: 0 0 50px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding-top: 155px;
  }
}

@media only screen and (max-width: 600px) {
  .inner {
    margin: 0;
    padding: 0 30px;
  }
}
