.container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;
  align-items: center;
  justify-content: center;

  &.visible {
    display: flex;
  }
}

.modal {
  max-width: 90%;
  width: 500px;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #FFF;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
  position: relative;
}

.title {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}

.body {
  display: flex;
}

.button {
  flex: 1;
  height: 200px;
  border: 1px solid rgba(0, 0, 0, .25);
  border-radius: 10px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, .2);
  }
}

.buttonTitle {
  font-size: 20px;
  color: #3D3D3D;
}

.buttonDesc {
  margin-top: 4px;
  font-size: 13px;
  color: rgba(0, 0, 0, .6);
}
