.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  padding-top: 130px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.withHeader {
    padding-top: 173px;
  }
}

.header {
  position: absolute;
  width: 100%;
  height: 64px;
  left: 0;
  top: 130px;
  padding: 12px 24px;
  box-sizing: border-box;
  background-color: #FFF;
  border-bottom: 1px solid #E0E0E0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.headerButton {
  min-width: 120px;
  height: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007BFF;
  color: #FFF;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  user-select: none;
  margin-right: 12px;

  &:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  }

  &:last-child {
    margin-right: 0;
  }
}

.inner {
  width: 100%;
  max-width: 1280px;
  padding-top: 12px;
}

.topContainer {
  display: flex;
  flex-direction: row;
}

.itemSummary {
  flex: 3 0 0%;
  max-width: 43%;
  width: 0px;
}

.itemMain {
  flex: 4 0 0%;
  margin-left: -20px;
  padding-top: 32px;
}

.itemMedia {
  margin: 20px;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid #bbb;

  .media {
    position: relative;
    padding-top: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .loader {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.property {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 18px;

  &:last-child {
    margin-bottom: 0;
  }
}

.propertyLabel {
  font-weight: 700;
  margin-right: 12px;

  &::first-letter {
    text-transform: capitalize;
  }
}

.collectionDescription {
  font-size: 18px;
}

.socialLinks {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.socialLink {
  width: 20px;
  height: 20px;
  padding: 4px;
  margin-right: 20px;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #EEE;
  }

  &:last-child {
    margin-right: 0;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.panelTitle {
  display: flex;
  align-items: center;
}

.itemInfoCont {
  margin: 20px;
  border-radius: 4px;
  border: 1px solid #bbb;
  overflow: hidden;
}

.itemCategory {
  font-size: 21px;
  font-weight: 500;
  color: #777;
}

.itemName {
  font-size: 32px;
  font-weight: 600;
  color: #333;
  margin-top: 8px;
}

.itemStats {
  margin-top: 8px;
  display: flex;
  align-items: center;
  color: #333;
}

.itemOwner {
  display: flex;
  align-items: center;
}

.ownerAvatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .avatar {
    width: 100%;
    height: 100%;
  }
}

.ownerName {
  text-decoration: none;
  color: rgb(0,89,255);
}

.itemViews {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.panelBody {
  width: 100%;
  padding: 24px;
  box-sizing: border-box;
}

.panelLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.listings,
.offers {
  margin-bottom: -1px;
}

.listing,
.offer {
  height: 58px;
  padding: 8px 16px;
  box-sizing: border-box;
  border-bottom: 1px solid #BBB;
  display: flex;
  align-items: center;
}

.owner {
  width: 30%;
}

.price {
  width: 20%;
}

.deadline {
  width: 30%;
}

.buyButton {
  min-width: 80px;
  height: 28px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: #007BFF;
  background-color: #FFF;
  border: 1px solid #007BFF;
  cursor: pointer;
  user-select: none;

  &:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  }
}

.bids {
  padding: 20px 16px;
}

.result {
  font-size: 20px;
  font-weight: bold;
}

.bidtitle {
  font-size: 18px;
}

.bidAmount {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.placeBid,
.withdrawBid {
  min-width: 120px;
  width: fit-content;
  height: 40px;
  padding: 0 15px;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  user-select: none;
  margin-top: 15px;

  &:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  }
}

.placeBid {
  background-color: #007BFF;
  color: #FFF;
}

.withdrawBid {
  background-color: #FFF;
  color: #007BFF;
  border: 1px solid #007BFF;
}

.from,
.to {
  width: 35%;
}

.historyPrice {
  width: 10%;
}

.wrapper {
  margin: 20px;
}

.panelWrapper {
  margin: 20px;
  border-radius: 4px;
  border: 1px solid #bbb;
}

.chartWrapper {
  padding: 20px;
}

.disabled {
  cursor: not-allowed;
  box-shadow: none !important;
  opacity: 0.7;
}
