.container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 99999;
  align-items: center;
  justify-content: center;

  &.visible {
    display: flex;
  }
}

.modal {
  max-width: 90%;
  width: 600px;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #FFF;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

.header {
  margin-bottom: 25px;
}

.title {
  font-weight: 900;
  font-size: 28px;
  text-align: center;
  color: #3D3D3D;
}

.body {
  margin-bottom: 40px;
}

.swapContainer {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
}

.reverse {
  flex-direction: column-reverse;
}

.swapbtn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 18px;
}

.icon {
  width: 26px;
  height: 26px;
  color: #3D3D3D;
}

.symbol {
  font-weight: 400;
  font-size: 22px;
  line-height: 26.8px;
  margin-bottom: 7px;
}

.swapBoxInner {
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.balance {
  font-weight: 400;
  font-size: 16px;
  color: #3D3D3D;
  display: flex;
  align-items: center;
  padding: 16px;
  white-space: nowrap;
}

.max {
  margin-left: 4px;
  color: #007BFF;
  cursor: pointer;
}

.input {
  margin-right: 10px;
  width: 50px;
  flex-grow: 1;
  font-size: 18px;
  color: #3D3D3D;
  text-align: right;
  border: none;
  outline: none;
}

.usdVal {
  flex: 0 0 120px;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1.5px solid rgba(0, 0, 0, 0.1);
  font-weight: 500;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.listButton,
.cancelButton {
  min-width: 200px;
  height: 56px;
  padding: 0 12px;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  user-select: none;

  &:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  }
}

.listButton {
  background-color: #007BFF;
  color: #FFF;
  margin-right: 40px;
}

.cancelButton {
  background-color: #FFF;
  color: #007BFF;
  border: 1px solid #007BFF;
}

.disabled {
  cursor: not-allowed;
  box-shadow: none !important;
  opacity: 0.7;
}
