.container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;
  align-items: center;
  justify-content: center;

  &.visible {
    display: flex;
  }
}

.modal {
  max-width: 90%;
  width: 600px;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #FFF;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
  position: relative;
}

.header {
  margin-bottom: 40px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}

.closeButton {
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;

  img {
    width: 16px;
    height: 16px;
  }
}

.footer {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.submitButton,
.cancelButton {
  min-width: 200px;
  height: 56px;
  box-sizing: border-box;
  padding: 0 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.5px;
  user-select: none;

  &:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  }
}

.submitButton {
  background-color: #007BFF;
  color: #FFF;
}

.cancelButton {
  background-color: #FFF;
  color: #007BFF;
  border: 1px solid #007BFF;
}

.disabled {
  cursor: not-allowed;
  box-shadow: none !important;
  opacity: 0.7;
}

@media only screen and (max-width: 600px) {
  .modal {
    padding: 40px 20px;
  }

  .title {
    font-size: 20px;
  }

  .footer {
    flex-direction: column;
  }

  .listButton,
  .cancelButton {
    width: calc(100% - 48px);
  }

  .listButton {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
