.exploreAllPageContainer {
    padding-top: 64px;
    padding-bottom: 48px;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
}

.exploreSideBar {
    flex: 0 0 290px;
    font-family: proxima-nova;
    font-size: x-large;
    background-color: #fbfbfb;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.exploreWithHeader {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.exploreHeader {
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F7F7;
    overflow-x: auto;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}
.exploreAllPannel {
    height: 92%;
    overflow-y: auto;
}

.sidebarHeader {
    height: 90px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.sidebarBody {
    height: calc(100% - 90px);
    box-sizing: border-box;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

.MuiCheckbox-colorSecondary.Mui-checked {
    color: #007bff !important;
}

.MuiAccordionSummary-root {
    box-shadow: 0px 0px 8px 0px rgb(156, 146, 146);
}



.exploreBodyFilterHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    box-sizing: border-box;
    border-bottom: 2px dotted rgb(156, 146, 146);
}

.exploreBodyInfiniteLoaderContainer {
    height: calc(100% - 72px);
}