.exploreAllPageContainer {
    padding-top: 149px;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    padding-left: 50px;
    padding-right: 90px;
}

.exploreSideBar {
    flex: 0 0 320px;
    display: flex;
    flex-direction: column;
}

.exploreWithHeader {
    margin-left: 48px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.exploreHeader {
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    overflow-x: auto;
}
.exploreAllPannel {
    height: 92%;
    overflow-y: auto;
    margin-left: -40px;
    padding-left: 40px;
    padding-right: 10px;
}

.MuiCheckbox-colorSecondary.Mui-checked {
    color: #007bff !important;
}

.MuiAccordionSummary-root {
    box-shadow: 0px 0px 8px 0px rgb(156, 146, 146);
}

.exploreBodyFilterHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 20px 0;
}
