.container {
  position: absolute;
  width: 100%;
  top: 0;
  padding-top: 109px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
}

.bg {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

.body {
  width: 1200px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 146px;
  padding-bottom: 400px;
}

.title {
  font-weight: 900;
  font-size: 54px;
  line-height: 65px;
  text-align: center;
  color: #FFF;
}

.subtitle {
  margin-top: 18px;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  color: #FFF;
}

.buttonsContainer {
  margin-top: 40px;
  display: flex;
}

.exploreButton,
.createButton {
  width: 280px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  box-shadow: none;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
}

.exploreButton {
  background-color: #FFF;
  color: #007BFF;
  margin-right: 40px;

  &:hover {
    background-color: #FFF;
  }
}

.createButton {
  background-color: transparent;
  color: #FFF;
  border: 2px solid #FFF;

  &:hover {
    background-color: transparent;
  }
}

.section {
  padding: 0 60px;
}

.sectiontitle {
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 12px;
  margin-bottom: 25px;
  border-bottom: 1px solid #DDD;
}
