.MuiAppBar-colorPrimary {
  color: #fff;
  background-color: #007bff !important;
}

.css-gr2aqs {
  background-color: #007bff !important;
}

.inkMetadataInput {
  background-color: white !important;
  background: transparent !important;
}

.MuiAvatar-colorDefault {
  color: #fafafa !important;
  background-color: transparent !important;
}

#inkmetadatanameinput {
  background-color: white !important;
}

#inkmetadatalimitinput {
  background-color: white !important;
}

body {
  margin: 0 !important;
  overflow: auto;
}
.slick-slide {
  outline: none;
  width: unset !important;
  /* width: 360px !important; */
}

.MuiButton-label {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  font-family: proxima-nova !important;
}

.MuiTypography-h5 {
  font-size: 1.5rem;
  /* font-family: "Roboto", "Helvetica", "Arial", sans-serif; */
  /* font-family: cursive !important; */
  font-weight: 400;
  line-height: 1.334;
  letter-spacing: 0em;
}

.MuiTypography-body2 {
  font-size: 0.975rem !important;
  /* font-family: "Roboto", "Helvetica", "Arial", sans-serif; */
  /* font-family: math !important; */
  font-weight: 400;
  line-height: 1.43;
  /* letter-spacing: 0.01071em; */
}

.MuiMenu-paper {
  top: 72px !important;
}

body * {
  font-family: proxima-nova !important;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
