.root {
  min-width: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 4px;
  margin-right: 6px;
  color: #3D3D3D;
  font-weight: 600;
  white-space: nowrap;

  &:hover {
    background-color: #e0e0e0;
  }

  img {
    width: auto;
    height: 24px;
  }

  span {
    margin-left: 8px;
  }
}

.selected {
  color: #007bff;
}

@media only screen and (max-width: 600px) {
  .button span {
    display: none;
  }

  .selected {
    background-color: rgba(36, 121, 250, .2);
  }
}