.root {
  min-width: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 4px;
  margin-right: 6px !important;
  color: #555 !important;
  font-weight: 600 !important;
  box-shadow: unset !important;
  background-color: unset !important;
  white-space: nowrap;
  text-transform: none !important;

  &:hover {
    background-color: #e0e0e0 !important;
  }

  img {
    width: auto;
    height: 24px;
    margin-right: 8px;
  }
}

.selected {
  color: #007bff !important;
}